$primary-text:           'Raleway', sans-serif;
$secondary-text:         'Roboto', sans-serif;
$button-text:            'Open Sans', sans-serif;

$color-orange:           #FFCC00;
$color-gray:             #666666;
$color-light-gray:       #898F8F;
$color-black-default:    #333333;



